<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projetos - Alexandre Santos Adabo</title>
  <link href="projetos.css" rel="stylesheet">
</head>

<body>
  Lista de Projetos
  <div>
    <p>Projetos de Estudo</p>
    <ol>
      <li>Projeto - Sorteador com bolinha</li>
      <li>Projeto - Timer de precisão</li>
      <li>Projeto - Jogo da Velha (Tic tac toe)</li>
      <li>Projeto - Jokenpo</li>
      <li>Projeto - Relógio</li>
      <li>Projeto - Calculadora</li>
    </ol>
  </div>
  <div>
    <p>Projetos de Clientes</p>
    <ol>
      <li>Projeto - KaraokeList</li>
      <li>Projeto - SPSoldas</li>
      <li>Projeto - Mega Consórcio</li>
    </ol>
  </div>
  <div>
    <p>Produtos em Produção (SaaS)</p>
  </div>
  <script src="projetos.js"></script>
</body>

</html>